<h1>Pages#welcome</h1>

<!-- put a simple message to the page using vue -->
<div id="app">
  {{ message }}
</div>

<!-- put a message to the title -->
<div id="app-2">
  <span v-bind:title="message">
    Hover your mouse over me for a few seconds
    to see my dynamically bound title!
  </span>
</div>

<!-- if using vue -->
<div id="app-3">
  <span v-if="seen">
    Now you see me
  </span>
</div>

<!-- loop using vue -->
<div id="app-4">
  <ol>
    <li v-for="todo in todos">
      {{ todo.text }}
    </li>
  </ol>
</div>

<!-- perform action when button is clicked -->
<div id="app-5">
  <p>{{ message }}</p>
  <button v-on:click="reverseMessage">Reverse Message</button>
</div>

<!-- two way binding between input form and app state -->
<div id="app-6">
  <p>{{ message }}</p>
  <input v-model="message">
</div>
